################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bestellung/bin/Debug
/.vs/bestellung/v16
/bestellung/Core/Compression
/bestellung/obj/Debug
/packages
/bestellung/mongocrypt.dll
/bestellung/libmongocrypt.so
/bestellung/libmongocrypt.dylib
/.vs/bestellung_wpf/v16
/bestellung_wpf/obj/Debug
/bestellung_wpf/packages.config
/bestellung_wpf/mongocrypt.dll
/bestellung_wpf/libmongocrypt.so
/bestellung_wpf/libmongocrypt.dylib
